# TP 4 - Les tableaux

In [1]:
%load_ext autoreload
%autoreload 2
import sys
import os
sys.path.insert(0, os.path.join(os.getcwd(), "dist"))

from tp04_tests import *

La mémoire d'un ordinateur moderne est vaste: elle est de l'ordre de quelques **gigaoctets** (1 Go correspond à 1 milliard d'octets). 

Il paraît illusoire de remplir la mémoire d'un ordinateur en utilisant des variables contenant des nombres: même avec un nombre astronomique de variables, on ne pourrait utiliser qu'une infime partie de la mémoire disponible. Avec en outre le problème annexe de devoir trouver un nom à toutes ces variables.

Un des outils informatique permettant de stocker de très grandes quantités d'informations (en pratique il n'y a aucune limite si ce n'est la taille de la mémoire mise à la disposition d'un programme) est le **tableau**.

## Qu'est-ce qu'un tableau

Un **tableau** est un type de donnée permettant de stocker plusieurs valeurs de manière séquentielle et d'y accéder à l'aide d'une seule variable.

Le moyen le plus simple de créer un tableau en python est d'énumérer l'ensemble de ses valeurs:

In [2]:
table = [1, 0, 5, -2, 4,]
table

[1, 0, 5, -2, 4]

On vient ici de créer une variable `table` qui est un tableau (toute énumération de valeurs entre crochets `[ ]` sera interprétée comme un tableau par python).

Les valeurs d'un tableau sont _indexées_ à partir de 0: la première valeur aura pour indice 0, la seconde aura pour indice 1, etc.

Pour accéder à la valeur d'indice `i`, on utilise la syntaxe `table[i]`:

In [3]:
print(table[0])
print(table[1])
print(table[2])
print(table[3])
print(table[4])

1
0
5
-2
4

Notons que le dernier élément du tableau a pour indice 4 alors que le tableau contient 5 éléments. C'est tout à fait normal: de 0 à 4, il y a exactement 5 valeurs.

On peut connaître le nombre d'éléments d'un tableau à l'aide de la fonction `len()`:

In [4]:
len?

Signature: len(obj, /)
Docstring: Return the number of items in a container.
Type:      builtin_function_or_method

In [5]:
len(table)

5

Attention, il n'est pas possible d'accéder à un élément dont l'indice serait supérieur au dernier indice, c'est-à-dire à la longeur moins 1. En particulier, `table[len(table)]` n'existe pas et provoque une erreur:

In [6]:
table[len(table)]

IndexError: list index out of range

**Attention:** Le langage python autorise à stocker dans un tableau des données de type quelconque, sans aucune cohérence: on peut mettre des entiers, des nombres à virgule flottante, des chaînes de caractères... dans un même tableau.

In [7]:
mélange = ["pomme", 12, 3.14, "pêche"]
mélange

['pomme', 12, 3.14, 'pêche']

Cependant, la plupart des autres langages n'autorisent pas ce genre de lattitude: un tableau ne peut contenir qu'un type unique de données.

Afin d'éviter la prise de mauvaises habitudes, on s'astreindra à partir de maintenant à ne jamais utiliser de tableau contenant des données mixtes.

Il existe un autre type de donnée permetant justement le stockage de données mixtes, nous l'étudierons plus tard.

## Parcours d'un tableau

Il n'est pas envisageable d'énumérer à la main tous les éléments d'un tableau comme nous avons pu le faire dans un exemple précédent, d'autant plus que le nombre d'éléments du tableau peut fort bien varier au cours de la durée de vie d'un programme.

On utilisera avantageusement une boucle (*pour* ou *tant que*) afin d'accéder à l'ensemble des éléments d'un tableau.

Plusieurs cas de figure se présentent, selon que l'on souhaite connaître l'indice d'un élément donné ou non.

### Si on n'a pas besoin de connaître l'indice d'un élément

Dans ce cas, la boucle *pour* est de loin la plus adaptée. La syntaxe de cette boucle est d'ailleurs exactement conçue pour accéder aux éléments d'un tableau:

In [8]:
prénoms = ["pascal", "pierre", "bérénice", "isabelle", "mathieu", "joachim", "anabelle"]

In [9]:
for p in prénoms:
    print(p)

pascal
pierre
bérénice
isabelle
mathieu
joachim
anabelle

### Si on a besoin de connaître l'indice de chaque élément

Dans ce cas il existe plusieurs méthodes. On peut réutiliser la boucle précédente et compter les indices à la main:

In [10]:
i = 0
for p in prénoms:
    print("Le prénom d'incice", i, "est", p)
    i = i + 1

Le prénom d'incice 0 est pascal
Le prénom d'incice 1 est pierre
Le prénom d'incice 2 est bérénice
Le prénom d'incice 3 est isabelle
Le prénom d'incice 4 est mathieu
Le prénom d'incice 5 est joachim
Le prénom d'incice 6 est anabelle

Notons qu'il est indispensable d'incrémenter à la main le compteur.

On peut aussi procéder autrement, en faisant boucler directement sur l'indice `i` plutôt que sur l'élément `p`. Il faudra dans ce cas utiliser la syntaxe suivante:

In [11]:
for i in range(len(prénoms)):
    print("Le prénom d'indice", i, "est", prénoms[i])

Le prénom d'indice 0 est pascal
Le prénom d'indice 1 est pierre
Le prénom d'indice 2 est bérénice
Le prénom d'indice 3 est isabelle
Le prénom d'indice 4 est mathieu
Le prénom d'indice 5 est joachim
Le prénom d'indice 6 est anabelle

Le résultat est exactement le même, mais l'algorithme sous-jacent bien différent: on utiliser la fonction `range()` avec pour paramètre la longueur `len(prénoms)` du tableau: la variable `i` parcourera donc bien les entiers de `0` à `len(prénoms) - 1`. Pour accéder à l'élément du tableau correspondant, on utilise alors la syntaxe `prénoms[i]` vue dans la partie précédente.

Notons qu'il n'est pas nécessaire ici d'incrémenter le compteur, c'est la boucle *pour* qui s'en charge.

On pourrait aussi remplacer celle-ci par une boucle *tant que*:

In [12]:
i = 0
while i < len(prénoms):
    print("Le prénom d'indice", i, "est", prénoms[i])
    i = i + 1

Le prénom d'indice 0 est pascal
Le prénom d'indice 1 est pierre
Le prénom d'indice 2 est bérénice
Le prénom d'indice 3 est isabelle
Le prénom d'indice 4 est mathieu
Le prénom d'indice 5 est joachim
Le prénom d'indice 6 est anabelle

Cela paraît plus compliqué parce qu'on est à nouveau obligé d'incrémenter le compteur, mais la boucle *tant que* offre d'autres avantages: on peut utiliser une condition plus compliquée, arrêter le parcours du tableau avant la fin (par exemple lorsque l'on aura trouvé un élément que l'on recherche). Nous verrons cela en exercice.

## Modifier le contenu d'un tableau

En python, un tableau n'est pas une structure figée en mémoire. On peut notamment:
* ajouter ou supprimer des éléments, à la fin, au début, voire même au milieu d'un tableau
* modifier une des valeurs stockée dans le tableau (ce qui revient en général à la remplacer par une autre).

Nous ne verrons pas toutes ces possibilités dans un premier temps, mais examinons les plus courantes.

### Modifier un élément d'un tableau

Pour modifier un élément dans un tableau, on utilise la syntaxe suivante:

In [13]:
prénoms

['pascal', 'pierre', 'bérénice', 'isabelle', 'mathieu', 'joachim', 'anabelle']

prénoms[1] = 'archibald'

In [14]:
prénoms

['pascal', 'pierre', 'bérénice', 'isabelle', 'mathieu', 'joachim', 'anabelle']

On constate que le contenu du tableau a bien été modifié: son deuxième élément (donc d'indice 1) a été remplacé par un autre. On dit en informatique qu'un tableau est une variable **mutable**, c'est-à-dire que son contenu peut être modifié en mémoire (ce n'est pas toujours le cas, comme nous le verrons plus tard).

### Ajouter un ou plusieurs éléments à la fin d'un tableau

L'ajout d'élements n'est pas la même chose que la modification d'un élément vue au paragraphe précédent: le contenu d'une des cases mémoire était simplement remplacé par un autre, alors qu'ici nous voulons modifier la taille du tableau. Python est extrêmement souple sur ce point, et autorise tous les changements de taille, tant qu'il reste de la mémoire disponible.

Pour ajouter un unique élément à un tableau, on peut utiliser la fonction `append(élément)` appliquée directement au tableau, comme suit:

In [15]:
prénoms

['pascal', 'pierre', 'bérénice', 'isabelle', 'mathieu', 'joachim', 'anabelle']

In [16]:
prénoms.append('maximilien')

In [17]:
prénoms

['pascal',
 'pierre',
 'bérénice',
 'isabelle',
 'mathieu',
 'joachim',
 'anabelle',
 'maximilien']

Pour supprimer le dernier élément d'un tableau, il y a la fonction `pop()` (sans arguments): celle-ci supprime effectivement l'élément de plus grand indice, et renvoie sa valeur. Attention, `pop()` utilisé sur un tableau vide `[]` renverra une erreur puisqu'il n'y a pas d'élément à supprimer.

In [18]:
prénoms.pop()

'maximilien'

In [19]:
prénoms

['pascal', 'pierre', 'bérénice', 'isabelle', 'mathieu', 'joachim', 'anabelle']

Nous constatons que `pop()` a bien renvoyé la valeur du dernier élément du tableau, et l'a effacé de celui-ci.

### Concaténation de deux tableaux

On a souvent besoin de prendre deux tableaux et de les **concaténer**, c'est-à-dire les mettre bout à bout. Il existe deux manière de procéder en python.

Supposons que l'on ait deux tableaux:

In [20]:
t1 = [1, 2, 3, 4]
t2 = [5, 6, 7, 8]

L'opération `+` entre deux tableaux ne réalise pas une addition (cela n'aurait aucun sens), mais crée un **nouveau tableau** contenant la concaténation des deux premiers. Il est important de remarquer qu'aucun des deux tableaux initiaux n'est modifié par cette opération.

In [21]:
t1 + t2

[1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
t1

[1, 2, 3, 4]

In [23]:
t2

[5, 6, 7, 8]

Si on ne veut pas perdre immédiatement le résultat de `t1 + t2`, il est tout à fait possible de le stocker dans une nouvelle variable, voire même dans une variable existante. Par exemple, on peut vouloir remplacer `t1` par la concaténation de `t1` et `t2`, comme suit:

In [24]:
t1 = t1 + t2

In [25]:
t1

[1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
t2

[5, 6, 7, 8]

### Ajout d'un tableau au bout d'un autre

Il est possible de réaliser directement l'opération précédente à l'aide de la fonction `extend(tableau)`:

In [27]:
t1 = [1, 2, 3, 4]
t2 = [5, 6, 7, 8]

In [28]:
t1.extend(t2)

In [29]:
t1

[1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
t2

[5, 6, 7, 8]

Le résultat semble être le même que pour la syntaxe `t1 = t1 + t2` précédente, mais ce n'est pas exactement le cas: `extend()` va *modifier* le tableau `t1` pour lui rajouter directement les éléments de `t2` (un peu comme si on avait utilisé `append` pour chacun des éléments de `t2` sur `t1`). En revanche, `t1 = t1 + t2` crée d'abord un nouveau tableau, qui est ensuite stocké dans `t1`. L'ancien tableau qui était dans `t1` n'étant plus référencé par aucune variable, il sera effacé de la mémoire par python dès que possible.

## Création de tableaux de taille arbitraire

On peut vouloir créer un tableau contenant par exemple 100 éléments, initialement tous à zéro.  Il existe déjà un moyen de faire cela en l'état de nos connaissances: utiliser un tableau initialement vide, et lui rajouter 100 fois l'élément 0 à l'aide de `append`

In [31]:
t = []
for i in range(100):
    t.append(0)
repr(t)

'[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]'

La fonction `repr` permet d'afficher une valeur telle que l'on aurait dû la taper pour la saisir en python (cela évite notamment que le tableau soit affiché sur 100 lignes dans la cellule. Essayez sans le `repr()` pour vous en rendre compte...)

Il existe cependant une syntaxe spéciale en python qui permet de réaliser cela: l'opération `*` appliqué entre un tableau et un nombre (dans cet ordre)  va **dupliquer** le tableau autant de fois qu'indiqué par le nombre.

In [32]:
t = [0] * 25
repr(t)

'[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]'

In [33]:
t = [0, 1] * 25
repr(t)

'[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]'

In [34]:
t = 25 * [0, 1]
repr(t)

'[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]'

On utilisera souvent cette syntaxe pour créer des tableaux vides.

---
### Exercice 1

Écrire une fonction `entiers_aléatoires(N, a, b)` qui prend pour argument un entier naturel `N` et renvoie un tableau contenant $N$ entiers aléatoires, tous compris entre $a$ et $b$ inclus. 
* Si $N$ est nul, la fonction renvoie un tableau vide.
* On suppose que $a < b$ (aucune vérification ne sera effectuée).
* On suppose que $N > 0$ (aucune vérification ne sera effectuée).

In [35]:
from random import randint

def entiers_aléatoires(N, a, b):
    """Renvoie un tableau contenant N entiers aléatoires compris entre a et b."""
    
    pass # Remplacer cette ligne par votre code

In [36]:
# Vous pouvez tester votre code ici
entiers_aléatoires(10, 1, 1000)

Et une procédure de test automatique (les paramètres $N$, $a$ et $b$ sont déterminés eux-aussi aléatoirement):

In [37]:
testeur = testeur_entiers_aléatoires(entiers_aléatoires)
testeur.nombre_tests = 100
testeur.max_erreurs = 10
testeur.lance_tests()

Pour (N, a, b)=(0, 0, 0) le résultat n'est pas un tableau
Pour (N, a, b)=(212, 95, 231) le résultat n'est pas un tableau
Pour (N, a, b)=(268, -67, 55) le résultat n'est pas un tableau
Pour (N, a, b)=(554, -88, 0) le résultat n'est pas un tableau
Pour (N, a, b)=(443, 13, 92) le résultat n'est pas un tableau
Pour (N, a, b)=(517, -19, 11) le résultat n'est pas un tableau
Pour (N, a, b)=(145, 77, 239) le résultat n'est pas un tableau
Pour (N, a, b)=(361, 43, 238) le résultat n'est pas un tableau
Pour (N, a, b)=(881, 15, 156) le résultat n'est pas un tableau
Pour (N, a, b)=(675, -1, 72) le résultat n'est pas un tableau
Pour (N, a, b)=(133, 54, 67) le résultat n'est pas un tableau
----------
Trop d'erreurs: on arrête le test...

### Exercice 2

Écrire des fonctions `mininimum(tableau)` et `maximum(tableau)` prenant en paramètre un tableau de nombres et renvoyant respectivement le minimum et le maximum des nombres rencontrés. Il est bien entendu interdit d'utiliser les fonctions `min()` et `max()` de python qui réalisent justement cela.

En cas de tableau vide, ces deux fonctions doivent déclencher une erreur, car il n'y a pas de bonne réponse possible.

In [38]:
def minimum(tableau):
    assert len(tableau) > 0, "Erreur: le tableau ne doit pas être vide"
    
    pass # Remplacer cette ligne par votre code

In [39]:
def maximum(tableau):
    assert len(tableau) > 0, "Erreur: le tableau ne doit pas être vide"
    
    pass # Remplacer cette ligne par votre code

In [40]:
# Vous pouvez tester votre code ici
t= entiers_aléatoires(10, 1, 1000)
print(t)
print(minimum(t))
print(maximum(t))

None

TypeError: object of type 'NoneType' has no len()

In [41]:
# Et la procédure de tests automatisée.

# Pour le minimum:
testeur = testeur_minimum(minimum)
# On peut changer les deux paramètres ci-dessous si besoin:
# testeur.nombre_tests = 100
# testeur.erreurs_max = 10
testeur.max_taille_tableau = 10
testeur.lance_tests()

Pour tableau=[729, 396, 747, 346, 190, 11, 201], mauvais minimum: None au lieu de 11
Pour tableau=[162, 22], mauvais minimum: None au lieu de 22
Pour tableau=[993, 904, 22, 509, 964, 654, 873, 455, 988], mauvais minimum: None au lieu de 22
Pour tableau=[864, 204, 695, 228], mauvais minimum: None au lieu de 204
Pour tableau=[458, 480, 10, 134, 290, 78], mauvais minimum: None au lieu de 10
Pour tableau=[979, 35, 699, 593, 490, 393, 360, 661, 211], mauvais minimum: None au lieu de 35
Pour tableau=[811, 515, 964, 846, 631, 808, 18], mauvais minimum: None au lieu de 18
Pour tableau=[308, 154, 407, 718], mauvais minimum: None au lieu de 154
Pour tableau=[687, 408, 176, 186, 831], mauvais minimum: None au lieu de 176
Pour tableau=[518, 485, 339], mauvais minimum: None au lieu de 339
Pour tableau=[613, 337, 466, 566, 302, 480, 781, 963], mauvais minimum: None au lieu de 302
----------
Trop d'erreurs: on arrête le test...

In [42]:
# Pour le maximum
testeur = testeur_maximum(maximum)
# On peut changer les deux paramètres ci-dessous si besoin:
# testeur.nombre_tests = 100
# testeur.erreurs_max = 10
testeur.max_taille_tableau = 10
testeur.lance_tests()

Pour tableau=[769], mauvais maximum: None au lieu de 769
Pour tableau=[16, 150, 805, 750, 963, 740, 699, 457], mauvais maximum: None au lieu de 963
Pour tableau=[501], mauvais maximum: None au lieu de 501
Pour tableau=[636, 14, 920, 556, 234, 821, 14], mauvais maximum: None au lieu de 920
Pour tableau=[235, 183, 984, 497, 402, 85, 872, 181, 186, 229], mauvais maximum: None au lieu de 984
Pour tableau=[478, 494, 94, 514, 534, 982, 564, 586], mauvais maximum: None au lieu de 982
Pour tableau=[432, 711, 106, 452, 739, 803], mauvais maximum: None au lieu de 803
Pour tableau=[855, 109, 433, 795, 507, 370, 455, 150, 744], mauvais maximum: None au lieu de 855
Pour tableau=[402], mauvais maximum: None au lieu de 402
Pour tableau=[261, 691, 154, 456, 613, 92, 335, 130], mauvais maximum: None au lieu de 691
Pour tableau=[886, 25, 636, 601, 934, 870, 572], mauvais maximum: None au lieu de 934
----------
Trop d'erreurs: on arrête le test...

---
### Exercice 3

Écrire une fonction `nombre_occurences(tableau, élément)` prenant pour paramètre un tableau et une valeur, et renvoyant le nombre de fois que cette valeur est contenue dans le tableau (ce nombre peut très bien être nul).

In [43]:
def nombre_occurences(tableau, élément):
    pass # Remplacer cette ligne par votre code.

In [44]:
# Vous pouvez tester votre code ici
t = entiers_aléatoires(20, 1, 10)
nombre_occurences(t, 5)

In [45]:
testeur = testeur_nombre_occurences(nombre_occurences)
testeur.max_taille_tableau = 20
testeur.lance_tests()

Pour tableau=[4, 4, 2, 2, 5, 4, 2, 5, 4, 5, 1] le résultat (None) n'est pas un entier naturel
Pour tableau=[5, 4, 5, 5, 2, 1, 5, 4, 1, 2, 5, 2, 5, 1, 5, 1] le résultat (None) n'est pas un entier naturel
Pour tableau=[3, 4, 1, 2, 4, 1, 1, 1, 4, 2, 5, 5, 1] le résultat (None) n'est pas un entier naturel
Pour tableau=[1, 1, 4, 1, 5, 1, 4, 2, 2, 1, 4, 3] le résultat (None) n'est pas un entier naturel
Pour tableau=[2, 5, 4, 1, 5, 3, 5, 5, 4, 3, 4, 4, 2, 1, 3, 3, 4, 3, 4] le résultat (None) n'est pas un entier naturel
Pour tableau=[5, 2, 4, 5, 2, 5, 4, 3, 2, 2, 3, 1, 2] le résultat (None) n'est pas un entier naturel
Pour tableau=[3, 5, 1, 1, 2, 2, 3, 3, 4, 2, 2, 2, 2, 1, 3, 3, 4, 1, 3, 3] le résultat (None) n'est pas un entier naturel
Pour tableau=[3, 5, 4, 2, 2, 5, 4, 1, 3, 1, 1, 4, 2, 2] le résultat (None) n'est pas un entier naturel
Pour tableau=[5, 3, 4, 3, 2, 5, 5, 5, 5, 2, 4, 1, 2, 1, 1, 2, 2, 4, 1, 5] le résultat (None) n'est pas un entier naturel
Pour tableau=[4, 3, 1, 5, 5, 2, 1, 4, 5, 1, 4, 3] le résultat (None) n'est pas un entier naturel
Pour tableau=[1, 4, 5, 4, 5, 4, 5, 2, 4, 5, 3] le résultat (None) n'est pas un entier naturel
----------
Trop d'erreurs: on arrête le test...

---

### Exercice 4

Écrire un programme tirant 1000 entiers compris entre 1 et 10, et affichant ensuite le nombre d'occurences de chaque entier entre 1 et 10 dans ce tableau. Vous pouvez bien entendu réutiliser des fonctions déjà existantes pour cela.

In [46]:
# Écrire votre programme ici

---

### Exercice 5

Écrire une fonction `somme(tableau)` calculant la somme des éléments (supposés être des nombres) de `tableau`.

En déduire la fonction `moyenne(tableau)` calculant la moyenne des éléments de tableau.

In [47]:
def somme(tableau):
    pass # Remplacer cette ligne par votre code

In [48]:
def moyenne(tableau):
    pass # Remplacer cette ligne par votre code

In [49]:
# Tester votre code ici
notes = [12, 8.5, 10, 14, 13, 10, 10.5, 6, 11, 12, 16]
print(somme(notes))
print(moyenne(notes))

None
None

---

### Exercice 6

Écrire une fonction `échange(tableau, i, j)` qui ne renvoie aucune valeur (il n'y aura donc pas d'instruction `return` dans cette fonction), mais échangera physiquement les éléments d'indices `i` et `j` dans le paramètre `tableau`. On suppose que la contrainte $0 \leqslant i, j < \text{len}(\text{tableau})$ est vérifiée.

In [50]:
def échange(tableau, i, j):
    pass # Remplacer cette ligne par votre code

In [51]:
# Tester votre code ici
noms = ["Robin des bois", "Dark Vador", "Oui-Oui", "Sauron"]
échange(noms, 2, 3)
noms

['Robin des bois', 'Dark Vador', 'Oui-Oui', 'Sauron']

**Remarque importante:** Savoir échanger deux éléments d'un tableau (ou de la même façon, savoir échanger le contenu de deux variables) est un savoir faire important, il ne faut surtout pas l'oublier.

--- 

### Exercice 7

Écrire une fonction `copie(tableau)` renvoyant une *copie* du tableau passé en paramètre. **Attention:** Il faudra s'assurer qu'il s'agit réellement d'une copie, c'est-à-dire d'un nouveau tableau contenant les mêmes éléments que le tableau initial.

On peut tester que le tableau renvoyé est bien une copie en le modifiant: si le tableau initial est modifié à l'identique, alors il ne s'agissait pas d'une copie mais de deux variables pointant vers le même tableau en mémoire.

In [52]:
def copie(tableau):
    pass # Remplacer cette ligne par votre code

In [53]:
# Tester votre code ici
nombres = [1, 2, 3, 4, 5, 6]
duplicata = copie(nombres)
duplicata

In [54]:
duplicata.append(7)
nombres, duplicata

AttributeError: 'NoneType' object has no attribute 'append'

---

### Exercice 8

Écrire une fonction `renverse(tableau)` renvoyant un nouveau tableau dans lequel les éléments sont placés dans l'ordre inverse.

In [55]:
def renverse(tableau):
    pass # Remplacer cette ligne par votre code

In [56]:
# Tester votre code ici
noms = ["Robin des bois", "Dark Vador", "Oui-Oui", "Sauron"]
renverse(noms)

---

### Exercice 9

Écrire une fonction `mélange(tableau)` prenant en paramètre un tableau, et permutant aléatoirement les éléments de celui-ci. La fonction ne renvoie aucune valeur, elle modifie physiquement le tableau passé en paramètre.

On pourra utiliser l'algorithme suivant pour réaliser le mélange (appelé **algorithme de Knuth**): on parcourt le tableau de gauche à droite. Chaque élément d'incide `i` sera échangé avec un de ces prédécésseurs choisi au hasard: on choisit aléatoirement un entier `j` vérifiant la contrainte $0 \leqslant j \leqslant i$, et on procède à l'échange. 

Cet algorithme garantit que la permutation est réellement aléatoire (c'est-à-dire équirépartie): chaque permutation possible a autant de chance d'aboutir qu'une autre.

In [57]:
def mélange(tableau):
    pass # Remplacer cette ligne par votre code

In [58]:
# Vous pouvez tester votre code ici
for i in range(10):
    mélange(noms)
    print(noms)

['Robin des bois', 'Dark Vador', 'Oui-Oui', 'Sauron']
['Robin des bois', 'Dark Vador', 'Oui-Oui', 'Sauron']
['Robin des bois', 'Dark Vador', 'Oui-Oui', 'Sauron']
['Robin des bois', 'Dark Vador', 'Oui-Oui', 'Sauron']
['Robin des bois', 'Dark Vador', 'Oui-Oui', 'Sauron']
['Robin des bois', 'Dark Vador', 'Oui-Oui', 'Sauron']
['Robin des bois', 'Dark Vador', 'Oui-Oui', 'Sauron']
['Robin des bois', 'Dark Vador', 'Oui-Oui', 'Sauron']
['Robin des bois', 'Dark Vador', 'Oui-Oui', 'Sauron']
['Robin des bois', 'Dark Vador', 'Oui-Oui', 'Sauron']

---

### Exercice 10

Écrire une fonction`cartes_poker()` ne prenant aucun paramètre, et renvoyant une liste des 52 cartes contenues dans un jeu standard de poker. Une carte sera un couple de chaînes de caractères de la forme `("roi", "trèfle")` par exemple.

Attention, ne trichez pas: il est possible d'énumérer à la main les 52 cartes, mais ce n'est évidemment pas le but. Utilisez plutôt un algorithme.

Les cartes devront être rangées par couleurs, dans l'ordre suivant: d'abord les trèfles, puis les piques, puis les carreaux, puis les coeurs. À l'intérieur d'une couleur, les cartes seront rangées par ordre croissant, c'est-à-dire du 2 à l'As.

In [59]:
def cartes_poker():
    couleurs = ["Trèfle", "Pique", "Carreau", "Coeur"]
    rangs = ["Deux", "Trois", "Quatre", "Cinq", "Six", "Sept", 
                     "Huit", "Neuf", "Dix", "Valet", "Dame", "Roi", "As"]
    
    pass # Remplacer cette ligne par votre code

In [60]:
# Tester votre code ici
cartes_poker()

Écrire à présent une fonction `tirage_main()` ne prenant aucun paramètre, et renvoyant une **main** de cinq cartes, c'est-à-dire cinq cartes choisies aléatoirement parmi les 52 cartes renvoyées par la fonction précédente.

Pour cela, vous écrirez une fonction auxilliaire `choix(tableau, nombre)` choisissant `nombre` valeurs aléatoirement parmi les élements du tableau `tableau`, sans répétitions. Attention, il ne faut en aucun cas modifier le tableau passé en paramètre.

La fonction renverra un nouveau tableau contenant les éléments choisis.

In [61]:
def choix(tableau, nombre):
    pass  # Remplacer cette ligne par votre code

In [62]:
# Tester votre code ici
valeurs = ["A1", "A2", "B1", "B2", "C1", "C2", "D1", "D2"]
for i in range(10):
    print(choix(valeurs, 3))

None
None
None
None
None
None
None
None
None
None

In [63]:
def tirage_main():
    pass # Remplacer cette ligne par votre code

In [64]:
# Tester votre code ici
for i in range(10):
    print(tirage_main())

None
None
None
None
None
None
None
None
None
None

À présent, écrire une fonction `est_paire(main)` testant si une main donnée contient une paire d'éléments (c'est-à-dire deux éléments ayant le même rang mais des couleurs distinctes). La fonction renverra un booléen `True` ou `False` selon le cas.

Comme il s'agit du dernier exercice de la feuille, nous vous laissons le soin de créer la structure des cellules.

### Pour aller plus loin (très difficile)

Au poker, il existe différents types de main, dont les forces ne sont pas les mêmes. Écrire une fonction `classification_main(main)` prenant en paramètre une main, et renvoyant le type de main dont il s'agit. 

Attention, il n'y a qu'une (et forcément une) réponse possible. La fonction devra renvoyer la main la plus forte correspondant au paramètre.

Pour connaître les différents types de mains au poker, consulter par exemple la page 
https://fr.wikipedia.org/wiki/Main_au_poker