# Algorithmes de tri: applications

## Tri par sélection: algorithme de base

In [56]:
def tri_sélection(t):
    for i in range(len(t)):
        mini = t[i]
        indice_mini = i
        for j in range(i + 1, len(t)):
            if t[j] < mini:
                mini = t[j]
                indice_mini = j
        t[i], t[indice_mini] = t[indice_mini], t[i]

## Application 1 : ordre croissant / décroissant

## Application 2 : Tri sur des tuples

In [59]:
t1 = [
    ('Pascal', 'Blaise', 1623),
    ('Emmanuel', 'Kant', 1724),
    ('Friedrich', 'Nietzsche', 1844),
    ('René', 'Descartes', 1596)
]

In [64]:
prénoms = [
    "Théo", "Quentin", "Maxime", "Jules", "Gaspard", 
    "Valentin", "Mickaël", "Julien", "Maxens", "Gabin",
    "Perrine", "Zoé", "Séraphine", "Sophie", "Claire",
    "Amandine", "Julia", "Julie", "Céline", "Célia"
]

noms = [
    "Legoff", "Dupont", "Dupuis", "Dubois", "Legrand",
    "Ledouble", "Duchemin", "Valois", "Fresnet", "Galois"
]

classes = ["1ère 1", "1ère 2", "1ère 3"]

from random import choice
def élève_aléatoire():
    return choice(prénoms), choice(noms), choice(classes)

N = 50
liste_élèves = [élève_aléatoire() for _ in range(N)]
liste_élèves

[('Jules', 'Duchemin', '1ère 1'),
 ('Perrine', 'Duchemin', '1ère 2'),
 ('Séraphine', 'Galois', '1ère 2'),
 ('Amandine', 'Galois', '1ère 1'),
 ('Perrine', 'Dupont', '1ère 2'),
 ('Gaspard', 'Valois', '1ère 2'),
 ('Jules', 'Dubois', '1ère 1'),
 ('Julien', 'Ledouble', '1ère 2'),
 ('Célia', 'Valois', '1ère 1'),
 ('Zoé', 'Legrand', '1ère 3'),
 ('Mickaël', 'Galois', '1ère 2'),
 ('Amandine', 'Fresnet', '1ère 3'),
 ('Julia', 'Dupuis', '1ère 2'),
 ('Perrine', 'Valois', '1ère 3'),
 ('Théo', 'Dupuis', '1ère 2'),
 ('Sophie', 'Valois', '1ère 2'),
 ('Mickaël', 'Dubois', '1ère 3'),
 ('Gabin', 'Fresnet', '1ère 3'),
 ('Julia', 'Fresnet', '1ère 1'),
 ('Maxens', 'Valois', '1ère 3'),
 ('Sophie', 'Fresnet', '1ère 2'),
 ('Julien', 'Valois', '1ère 2'),
 ('Julie', 'Duchemin', '1ère 3'),
 ('Célia', 'Dupuis', '1ère 2'),
 ('Jules', 'Duchemin', '1ère 3'),
 ('Julie', 'Duchemin', '1ère 2'),
 ('Célia', 'Ledouble', '1ère 2'),
 ('Séraphine', 'Duchemin', '1ère 3'),
 ('Valentin', 'Valois', '1ère 2'),
 ('Claire', 'Ledouble', '1ère 1'),
 ('Gabin', 'Dubois', '1ère 1'),
 ('Célia', 'Ledouble', '1ère 2'),
 ('Sophie', 'Legoff', '1ère 1'),
 ('Mickaël', 'Fresnet', '1ère 1'),
 ('Célia', 'Fresnet', '1ère 3'),
 ('Julia', 'Valois', '1ère 3'),
 ('Maxime', 'Valois', '1ère 3'),
 ('Julie', 'Duchemin', '1ère 1'),
 ('Maxime', 'Valois', '1ère 3'),
 ('Jules', 'Fresnet', '1ère 1'),
 ('Gabin', 'Dupuis', '1ère 1'),
 ('Théo', 'Valois', '1ère 2'),
 ('Amandine', 'Valois', '1ère 1'),
 ('Théo', 'Dupuis', '1ère 2'),
 ('Amandine', 'Dubois', '1ère 3'),
 ('Zoé', 'Fresnet', '1ère 2'),
 ('Gabin', 'Dupuis', '1ère 1'),
 ('Julie', 'Legrand', '1ère 2'),
 ('Sophie', 'Dupuis', '1ère 2'),
 ('Julia', 'Legrand', '1ère 1')]

## Application 3 : Tri sur des dictionnaires

In [44]:
t2 = [
    {"prénom": "Pascal", "nom": "Blaise", "naissance": 1623},
    {"prénom": "Emmanuel", "nom": "Kant", "naissance": 1724},
    {"prénom": "Friedrich", "nom": "Nietzsche", "naissance": 1844},
    {"prénom": "René", "nom": "Descartes", "naissance": 1596},
]

In [51]:
from data import lecture_fichier

## Application 4 : Tri sur des données volumineuses (big data)

In [46]:
voitures = lecture_fichier()

In [65]:
len(voitures)

5525

In [66]:
voitures[0]

{'marque': 'Skoda',
 'modèle': 'Fabia Combi 1.2L (60Ch) Bvm5',
 'puissance': 44,
 'consommation moyenne': 5.5,
 'co2': 128,
 'nox': 0.017000001}