# DS n° 3

## Correction

---
### Exercice 1

#### Question 1: réponse (d)

En effet, on rappelle qu'en python un tuple est *immuable*: il est donc impossible d'en modifier une composante à l'aide d'une syntaxe du type ```t[1] = 4```, qui est réservée aux tableaux ou aux dictionnaires qui, eux, sont modifiables.

In [1]:
t = (3, 5, 1)
t[1] = 4

TypeError: 'tuple' object does not support item assignment

#### Question 2: réponse (b)

L'instruction ```L[1] = 25``` remplace la *seconde* valeur du tableau (d'indice 1 puisque l'on part de 0) par 25.

La réponse (d) aurait pu être tentante, mais il n'y a pas d'insertion d'élément dans le cas présent.

In [2]:
L = [15, 17, 12, 23]
L[1] = 25
L

[15, 25, 12, 23]

Remarquons qu'il est possible d'insérer un élément en python, en utilisant la méthode ```L.insert(position, valeur)``` comme suit:

In [3]:
L = [15, 17, 12, 23]
L.insert(1, 25)
L

[15, 25, 17, 12, 23]

#### Question 3: réponse (c)

In [4]:
L = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
L[1][2]

6

Décomposons la dernière ligne afin d'en comprendre le mécanisme:

In [6]:
L[1]

[4, 5, 6]

En effet, ```L``` est un tableau de tableaux (les valeurs sont elles-mêmes des tableaux). La syntaxe ```L[1]``` renvoie donc le *deuxième* élément (les indices démarrent à 0) du tableau.

In [7]:
[4, 5, 6][2]

6

La deuxième paire de crochets récupère le *troisième* élément de ce sous-tableau, à savoir 6.

#### Question 4: réponse (a)

La syntaxe ```for valeur in dictionnaire:``` parcourt toujours les *clés* du dictionnaire.

In [8]:
d = {'if': 'si', 'yes': 'oui', 'no': 'non'}

In [9]:
for a in d:
    print(a)

if
yes
no

Si on veut une boucle sur les valeurs:

In [10]:
for a in d.values():
    print(a)

si
oui
non

Et enfin si on veut une boucle sur les couples ```(clé, valeur)```:

In [11]:
for a in d.items():
    print(a)

('if', 'si')
('yes', 'oui')
('no', 'non')

Remarquons que, dans ce dernier cas, il est souvent utile de déréférencer directement les deux composantes du tuple dans la syntaxe même de la boucle:

In [12]:
for a, b in d.items():
    print(a, 'se traduit en', b)

if se traduit en si
yes se traduit en oui
no se traduit en non

#### Question 5: réponse (a)

In [13]:
L = [[i, i + 1] for i in range(2)]
L

[[0, 1], [1, 2]]

Cette création de tableau par compréhension crée en fait un tableau contenant des tableaux de longueur 2, ce qui exclut d'emblée les deux dernières réponses. En se souvenant que ```range(2)``` crée l'intervalle des entiers entre 0 et 1, on obtient alors la première réponse.

---
### Exercice 2

In [14]:
from random import randint

#### Version 1

On crée d'emblée un tableau à la bonne taille, que l'on remplit ensuite élément par élément:

In [15]:
t = [None] * 25
for i in range(25):
    t[i] = randint(1, 100)
# On veut que le tableau soit affiché en ligne, plutôt qu'en colonne dans jupyter lab
repr(t)

'[85, 73, 44, 97, 27, 16, 42, 31, 12, 65, 12, 51, 76, 87, 9, 75, 20, 45, 72, 70, 50, 36, 22, 64, 44]'

#### Version 2

On crée un tableau vide, que l'on remplit ensuite à l'aide d'```append```:

In [16]:
t = []
for _ in range(25):
    t.append(randint(1, 100))
repr(t)

'[26, 33, 75, 89, 46, 97, 100, 2, 2, 4, 93, 95, 7, 16, 93, 13, 27, 58, 75, 78, 34, 16, 24, 68, 62]'

#### Version 3

On utilise une compréhension de liste.

In [17]:
t = [randint(1, 100) for _ in range(25)]
repr(t)

'[11, 9, 13, 94, 47, 3, 99, 19, 8, 81, 58, 57, 72, 65, 17, 21, 85, 5, 23, 68, 87, 18, 68, 7, 77]'

---
### Exercice 3

In [18]:
def multiplie(t, n):
    """Renvoie une copie du tableau t dans laquelle chaque élément (qui doit être un nombre)
    a été multiplié par n.
    """
    
    longueur = len(t)
    copie = [None] * longueur
    
    for i in range(longueur):
        copie[i] = t[i] * n
        
    return copie

In [19]:
t = [x*x for x in range(10)]
multiplie(t, -1.5)

[-0.0, -1.5, -6.0, -13.5, -24.0, -37.5, -54.0, -73.5, -96.0, -121.5]

On s'assure que le tableau renvoyé est bien une copie, et non pas une modification de l'original:

In [20]:
t

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

---
### Exercice 4

#### Question 1

In [21]:
def mystère(t):
    m = t[0]
    for élément in t:
        if élément < m:
            m = élément
    return m

On reconnaît là l'algorithme de recherche du minimum dans un tableau (on parcourt tous les éléments du tableau. ```m``` contient la plus petite valeur vue jusque là, et est réduite si on croise une valeur inférieure).

#### Question 2

**Remarque très importante:** il ne suffit pas de changer les noms de variables pour changer l'effet d'une fonction. En effet, la fonction suivante est strictement identique à la première, bien que les noms des variables (y compris de la fonction) soient changés.

In [22]:
def maximum(t):
    maxi = t[0]
    for élément in t:
        if élément < maxi:
            maxi = élément
    return maxi

In [23]:
t = [randint(-2, 2) for _ in range(20)]
t

[2, -1, 0, 2, 0, 0, 0, 2, 0, 0, -2, 2, -1, -2, -1, -2, 0, -1, 1, -1]

In [24]:
mystère(t)

-2

In [25]:
maximum(t)

-2

C'est une erreur courante chez les débutants: il ne faut pas attribuer une quelconque valeur aux noms des variables ou des fonctions, ceux-ci n'ont de signification que pour les humains, certainement pas par python.

D'ailleurs, on pourrait écrire la chose suivante:

In [26]:
def cerise(gâteau):
    chocolat = gâteau[0]
    for crême in gâteau:
        if crême < chocolat:
            chocolat = crême
    return chocolat

In [27]:
cerise(t)

-2

Là encore, la fonction est strictement identique d'un point de vue *sémantique* (c'est-à-dire pour ce qui est de son effet sur une valeur donnée), bien que les noms des variables soient ici des plus fantaisistes.

Voici donc la fonction demandée qui calcule le maximum ainsi que le nombre d'occurences de ce maximum.

##### Version 1:

On calcule d'abord le maximum, puis on compte le nombre d'occurences dans un second temps

In [28]:
def maximum(t):
    maxi = t[0]
    for élément in t:
        if élément > maxi:
            maxi = élément
            
    compteur = 0
    for élément in t:
        if élément == maxi:
            compteur = compteur + 1
            
    return maxi, compteur

In [29]:
maximum(t)

(2, 4)

##### Version 2:

On calcule le maximum et son effectif dans une même boucle

In [30]:
def maximum(t):
    maxi = t[0]
    compteur = 1 # Techniquement, le maximum actuel a été vu une seule fois (pour l'instant)
    for élément in t:
        if élément > maxi:
            # L'ancien maximum n'est plus valable: il faut réinitialiser le compteur à 1.
            maxi = élément
            compteur = 1
        elif élément == maxi:
            # On a déjà vu ce maximum (même temporaire)
            compteur = compteur + 1
            
    return maxi, compteur

In [31]:
maximum(t)

(2, 5)

### Exercice 5:

In [32]:
dico = {
    'oui':'yes', 'chien':'dog', 'distance':'distance', 'chocolat':'chocolate', 
    'oiseau':'bird', 'feu':'fire', 'suite':'sequence', 'python':'python'
}

#### Question 1

In [33]:
def traduction(mot, dico):
    if mot in dico:
        return dico[mot]
    else:
        return '?'

In [34]:
traduction('oiseau', dico)

'bird'

In [35]:
traduction('pimprenelle', dico)

'?'

#### Question 2

In [36]:
def identiques(dico):
    mots_identiques = []
    
    for mot in dico:
        if mot == dico[mot]:
            mots_identiques.append(mot)
            
    return mots_identiques

In [37]:
identiques(dico)

['distance', 'python']

#### Question 3

In [38]:
def inverse(dico):
    dico_inversé = {}
    
    for mot in dico:
        dico_inversé[dico[mot]] = mot
        
    return dico_inversé

In [39]:
inverse(dico)

{'yes': 'oui',
 'dog': 'chien',
 'distance': 'distance',
 'chocolate': 'chocolat',
 'bird': 'oiseau',
 'fire': 'feu',
 'sequence': 'suite',
 'python': 'python'}

### Exercice 6

In [40]:
résultats = [
    ('Théo', 12.5),
    ('Magdalène', 16),
    ('Antonin', 4.5),
    ('Valériane', 10.35),
    ('Max', 14)
]

#### Question 1

In [41]:
def mentions(L):
    table_mentions = []
    
    for élève, note in L:
        if note < 12:
            mention = ''
        elif note < 14:
            mention = 'Assez bien'
        elif note < 16:
            mention = 'Bien'
        else:
            mention = 'Très bien'
            
        table_mentions.append((élève, mention))
        
    return table_mentions

In [42]:
mentions(résultats)

[('Théo', 'Assez bien'),
 ('Magdalène', 'Très bien'),
 ('Antonin', ''),
 ('Valériane', ''),
 ('Max', 'Bien')]

#### Question 2

In [43]:
def major(L):
    meilleur_élève, note_maxi = L[0]
    
    # On recherche la note maximale comme pour l'exercice 4, mais on doit aussi garder en 
    # mémoire le nom de l'élève qui a obtenu la meilleure note vue jusqu'à présent
    for élève, note in L:
        if note > note_maxi:
            note_maxi = note
            meilleur_élève = élève
    
    return meilleur_élève

In [44]:
major(résultats)

'Magdalène'

#### Question 3 (bonus)

La fonction demandée ressemble à s'y méprendre à la fin de l'exercice 4, mais en utilisant un tableau plutôt qu'un compteur:

In [45]:
def majors(L):
    élève, note_maxi = L[0]
    
    # La liste des meilleurs élèves rencontrés jusqu'à présent:
    meilleurs_élèves = [élève]
    
    for élève, note in L:
        if note > note_maxi:
            # La meilleure note vue jusqu'à présent vient de changer: on doit réinitialiser
            # la liste des meilleurs élèves vus jusqu'à présent
        
            note_maxi = note
            meilleurs_élèves = [élève]
        elif note == note_maxi:
            # Un élève ayant lui aussi la meilleure note (ex aequo): on le rajoute à la liste
            meilleurs_élèves.append(élève)
    
    return meilleurs_élèves

In [46]:
majors(résultats)

['Magdalène']

In [47]:
résultats.append(('Bastien', 16))

In [48]:
majors(résultats)

['Magdalène', 'Bastien']